In [61]:
#imorting librairs
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [70]:
# Reading the dataset
data = pd.read_csv('/content/train.csv')

In [71]:
data.head(-5)

                                customer_id  ... churn_risk_score
0          fffe4300490044003600300030003800  ...                2
1      fffe43004900440032003100300035003700  ...                1
2          fffe4300490044003100390032003600  ...                5
3      fffe43004900440036003000330031003600  ...                5
4      fffe43004900440031003900350030003600  ...                5
...                                     ...  ...              ...
36982  fffe43004900440033003600330033003800  ...                3
36983  fffe43004900440032003300370030003700  ...                5
36984  fffe43004900440035003800320035003300  ...                1
36985      fffe4300490044003800310034003500  ...                2
36986  fffe43004900440034003900300036003500  ...                3

[36987 rows x 25 columns]

In [72]:
#encoding the gender column
data['gender']=data['gender'].astype('category')
data['gender_code']=data['gender'].cat.codes

In [73]:
#checking region_category value counts
data["region_category"].value_counts()

Town       14128
City       12737
Village     4699
Name: region_category, dtype: int64

In [74]:
#encoding the region_category
data['region_category'] = data['region_category'].str.lower()
data["region_category"] = data["region_category"].astype('category')
data['region_category_code']=data['region_category'].cat.codes

In [75]:
#checking region_category value counts
data["region_category_code"].value_counts()

 1    14128
 0    12737
-1     5428
 2     4699
Name: region_category_code, dtype: int64

In [76]:
#checking membership_category value counts
data["membership_category"].str.lower().value_counts()

basic membership       7724
no membership          7692
gold membership        6795
silver membership      5988
premium membership     4455
platinum membership    4338
Name: membership_category, dtype: int64

In [77]:
data['membership_category'] = data['membership_category'].str.lower()
data["membership_category"] = data["membership_category"].astype('category')
data['membership_category_code']=data['membership_category'].cat.codes

In [78]:
#checking region_category value counts
data["membership_category_code"].value_counts()

0    7724
2    7692
1    6795
5    5988
4    4455
3    4338
Name: membership_category_code, dtype: int64

In [79]:
# converting date to years
data['joining_date'] = pd.to_datetime(data['joining_date'],format='%Y-%m-%d')
data['year'] = 2021-pd.DatetimeIndex(data['joining_date']).year

In [81]:
#checking joined_through_referral value counts
data["joined_through_referral"].str.lower().value_counts()

no     15839
yes    15715
?       5438
Name: joined_through_referral, dtype: int64

In [82]:
data['joined_through_referral'] = data['joined_through_referral'].str.lower()
data["joined_through_referral"] = data["joined_through_referral"].astype('category')
data['joined_through_referral_code']=data['joined_through_referral'].cat.codes

In [83]:
#checking preferred_offer_types value counts
data["preferred_offer_types"].str.lower().value_counts()

gift vouchers/coupons       12349
credit/debit card offers    12274
without offers              12081
Name: preferred_offer_types, dtype: int64

In [84]:
data['preferred_offer_types'] = data['preferred_offer_types'].str.lower()
data["preferred_offer_types"] = data["preferred_offer_types"].astype('category')
data['preferred_offer_types_code']=data['preferred_offer_types'].cat.codes

In [85]:
#checking preferred_offer_types value counts
data["medium_of_operation"].str.lower().value_counts()

desktop       13913
smartphone    13876
?              5393
both           3810
Name: medium_of_operation, dtype: int64

In [86]:
data['medium_of_operation'] = data['medium_of_operation'].str.lower()
data["medium_of_operation"] = data["medium_of_operation"].astype('category')
data['medium_of_operation_code']=data['medium_of_operation'].cat.codes

In [87]:
#checking preferred_offer_types value counts
data["medium_of_operation_code"].value_counts()

2    13913
3    13876
0     5393
1     3810
Name: medium_of_operation_code, dtype: int64

In [88]:
data["internet_option"].str.lower().value_counts()

wi-fi          12413
mobile_data    12343
fiber_optic    12236
Name: internet_option, dtype: int64

In [89]:
data['internet_option'] = data['internet_option'].str.lower()
data["internet_option"] = data["internet_option"].astype('category')
data['internet_option_code']=data['internet_option'].cat.codes

In [90]:
data['days_since_last_login'].replace(-999,50, inplace=True)

In [91]:
data["points_in_wallet"].head(20)

0     781.750000
1            NaN
2     500.690000
3     567.660000
4     663.060000
5     722.270000
6     756.210000
7     568.080000
8            NaN
9     706.230000
10    699.700000
11    798.120000
12    608.260000
13           NaN
14           NaN
15    141.513201
16           NaN
17    733.970000
18    551.110000
19    164.800769
Name: points_in_wallet, dtype: float64

In [92]:
s=pd.Series(data["points_in_wallet"])
data["points_in_wallet"]=s.interpolate(axis=0)

In [93]:
data["used_special_discount"].str.lower().value_counts()

yes    20342
no     16650
Name: used_special_discount, dtype: int64

In [94]:
data['used_special_discount'] = data['used_special_discount'].str.lower()
data["used_special_discount"] = data["used_special_discount"].astype('category')
data['used_special_discount_code']=data['used_special_discount'].cat.codes

In [95]:
data["offer_application_preference"].str.lower().value_counts()

yes    20440
no     16552
Name: offer_application_preference, dtype: int64

In [96]:
data['offer_application_preference'] = data['offer_application_preference'].str.lower()
data["offer_application_preference"] = data["offer_application_preference"].astype('category')
data['offer_application_preference_code']=data['offer_application_preference'].cat.codes

In [97]:
data["offer_application_preference_code"].value_counts()

1    20440
0    16552
Name: offer_application_preference_code, dtype: int64

In [98]:
data["past_complaint"].str.lower().value_counts()

no     18602
yes    18390
Name: past_complaint, dtype: int64

In [99]:
data['past_complaint'] = data['past_complaint'].str.lower()
data["past_complaint"] = data["past_complaint"].astype('category')
data['past_complaint_code']=data['past_complaint'].cat.codes

In [100]:
data["past_complaint"].str.lower().value_counts()

no     18602
yes    18390
Name: past_complaint, dtype: int64

In [101]:
data['complaint_status'] = data['complaint_status'].str.lower()
data["complaint_status"] = data["complaint_status"].astype('category')
data['complaint_status_code']=data['complaint_status'].cat.codes

In [102]:
data["feedback"].str.lower().value_counts()

poor product quality        6350
no reason specified         6290
too many ads                6279
poor website                6271
poor customer service       6252
reasonable price            1417
user friendly website       1391
products always in stock    1382
quality customer care       1360
Name: feedback, dtype: int64

In [103]:
data['feedback'] = data['feedback'].str.lower()
data["feedback"] = data["feedback"].astype('category')
data['feedback_code']=data['feedback'].cat.codes

In [104]:
data.head(5)

                            customer_id  ... feedback_code
0      fffe4300490044003600300030003800  ...             4
1  fffe43004900440032003100300035003700  ...             5
2      fffe4300490044003100390032003600  ...             3
3  fffe43004900440036003000330031003600  ...             3
4  fffe43004900440031003900350030003600  ...             3

[5 rows x 38 columns]

In [105]:
dropouts = ['customer_id','Name','security_no','gender','security_no','region_category','membership_category','joining_date','joined_through_referral','referral_id',
            'preferred_offer_types','medium_of_operation','internet_option','last_visit_time','used_special_discount','offer_application_preference','past_complaint','complaint_status',
            'feedback','churn_risk_score','avg_frequency_login_days']

In [106]:
data = data.dropna()

In [107]:
score = data['churn_risk_score'].copy()

In [108]:
score.shape

(31325,)

In [109]:
feature = data.drop(columns=dropouts)

In [110]:
feature.head()

   age  days_since_last_login  ...  complaint_status_code  feedback_code
0   18                     17  ...                      1              4
1   32                     16  ...                      2              5
2   44                     14  ...                      3              3
3   37                     11  ...                      4              3
4   31                     20  ...                      2              3

[5 rows x 18 columns]

In [111]:
feature.shape

(31325, 18)

In [112]:
feature.to_csv('clean_data.csv')
score.to_csv('test_score.csv')